[user]
  name = P-Chan
  email = hello@0x50.io

[core]
  excludesfile = ~/.gitexclude
  editor = vim
  pager = less -R

[color]
  ui = auto

[alias]
  unstage = reset --mixed HEAD
  discard = checkout .
  save = commit -m
  undo = reset --mixed HEAD~
  graph = log --graph --oneline --decorate

  b = branch
  c = commit
  co = checkout
  st = status
  sw = switch

[pull]
  rebase = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[ghq]
  root = ~/src
