"*":
  core:
    disabledPackages: [
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "predawn-ui"
      "predawn-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Source Han Code JP"
    fontSize: 13
  "exception-reporting":
    userId: "b11fca1a-c7d4-f53c-8213-722c2f0f6210"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
