"*":
  core:
    titleBar: "custom"
  "exception-reporting":
    userId: "950d8342-f9fd-4ff0-b611-39f1613aa66e"
  "remote-ftp":
    notifications:
      enableTransfer: true
      enableWatchFileChange: true
    statusbar:
      enable: true
